# Preprocessing and Cleaning

In [0]:
#Necessary imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [0]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [0]:
housing = pd.read_csv('train.csv')

In [0]:
housing_predict = pd.read_csv('test.csv')

In [0]:
housing.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

Drops the union of the columns that have null values in both the test and training data sets

In [0]:
housing_null_columns = [i for i in housing.columns if housing[i].isnull().any()]
housing.dropna(axis=1, inplace=True)

In [0]:
housing_predict_null_columns = [i for i in housing_predict.columns if housing_predict[i].isnull().any()]

In [0]:
housing = housing.drop([x for x in housing_predict_null_columns if x not in housing_null_columns], axis=1)

In [0]:
 #Seperate quantitative and categorical features in training
 housing_quantitative = housing[housing.select_dtypes(include='int64').columns]
 housing_categorical = housing[housing.select_dtypes(include='object').columns]

In [0]:
 #Seperate quantitative and categorical features in testing
housing_predict.dropna(axis=1, inplace=True)
housing_predict = housing_predict.drop([x for x in housing_null_columns if x not in housing_predict_null_columns], axis=1)
housing_predict_quantitative = housing_predict[housing_predict.select_dtypes(include='int64').columns]
housing_predict_categorical = housing_predict[housing_predict.select_dtypes(include='object').columns]

In [0]:
housing_predict.isna().sum()

Id               0
MSSubClass       0
LotArea          0
Street           0
LotShape         0
LandContour      0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
ExterQual        0
ExterCond        0
Foundation       0
Heating          0
HeatingQC        0
CentralAir       0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SaleCondition    0
dtype: int64

In [0]:
#Assigns dummy variables for categorical features
housing_categorical_dummies = pd.get_dummies(housing_categorical,drop_first=True)
housing_predict_categorical_dummies = pd.get_dummies(housing_categorical,drop_first=True)

In [0]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(housing_quantitative)  
housing_quantitative_scaled = pd.DataFrame(scaler.transform(housing_quantitative), columns = housing_quantitative.columns)
#housing_predict_quantitative_scaled = pd.DataFrame(scaler.transform(housing_predict_quantitative), columns = housing_predict_quantitative.columns)

In [0]:
#Scales quantitative data
scaler_predict = StandardScaler()  
scaler_predict.fit(housing_predict_quantitative)  
housing_predict_quantitative_scaled = pd.DataFrame(scaler_predict.transform(housing_predict_quantitative), columns = housing_predict_quantitative.columns)

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [0]:
from sklearn import metrics
from sklearn.metrics import r2_score

In [0]:
#Unscaled X data inputs for linear regression
X_train = pd.concat([housing_quantitative.drop(['SalePrice', 'Id'], axis=1), housing_categorical_dummies], axis=1)
X_test = pd.concat([housing_predict_quantitative.drop(['Id'], axis=1), housing_predict_categorical_dummies], axis=1)
X_test.dropna(axis=0, inplace=True)

In [0]:
X_train.head()

   MSSubClass  LotArea  ...  SaleCondition_Normal  SaleCondition_Partial
0          60     8450  ...                     1                      0
1          20     9600  ...                     1                      0
2          60    11250  ...                     1                      0
3          70     9550  ...                     0                      0
4          60    14260  ...                     1                      0

[5 rows x 129 columns]

In [0]:
X_test.head()

   MSSubClass  LotArea  ...  SaleCondition_Normal  SaleCondition_Partial
0        20.0  11622.0  ...                     1                      0
1        20.0  14267.0  ...                     1                      0
2        60.0  13830.0  ...                     1                      0
3        60.0   9978.0  ...                     0                      0
4       120.0   5005.0  ...                     1                      0

[5 rows x 129 columns]

In [0]:
#y data input
y_train = housing['SalePrice']

# Linear Regression

**RMSLE = 0.50824**

In [0]:
LinRegression = LinearRegression()
LinRegression.fit(X_train, y_train)

predictions = LinRegression.predict(X_test)

In [0]:
predictionsdf = pd.DataFrame(predictions)
predictionsdf.head()

               0
0  124178.312719
1  169838.792226
2  184213.105345
3  198138.092639
4  227230.066150

In [0]:
predictionsdf.to_csv('Predictions.csv')

# MLP Regressor

**RMSLE = 0.24452**

In [0]:
from sklearn.neural_network import MLPRegressor

X_train = pd.concat([housing_quantitative_scaled.drop(['SalePrice', 'Id'], axis=1), housing_categorical_dummies], axis=1)
X_test = pd.concat([housing_predict_quantitative_scaled.drop(['Id'], axis=1), housing_predict_categorical_dummies], axis=1)
X_test.dropna(axis=0, inplace=True)

MLP = MLPRegressor(alpha=0.00005, hidden_layer_sizes=200, max_iter=5000)
MLP.fit(X_train, y_train)

predictions_MLP = pd.DataFrame(MLP.predict(X_test))
predictions_MLP.head()

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (5000) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

               0
0  129406.413518
1  151019.361415
2  179959.398421
3  199525.279387
4  208395.747902

In [0]:
predictions_MLP.to_csv('PredictionsMLPScaled5000.csv')

# RidgeCV

**RMSLE = 0.25711**

In [0]:
from sklearn.linear_model import RidgeCV

rcv = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1])
rcv.fit(X_train, y_train)

predictions_rcv = pd.DataFrame(rcv.predict(X_test))
predictions_rcv.head()

               0
0  123620.531296
1  164458.097318
2  186309.110748
3  199008.975960
4  221806.265482

In [0]:
predictions_rcv['Id'] = predictions_rcv.index
predictions_rcv = predictions_rcv[['Id', 0]]
predictions_rcv['Id'] = predictions_rcv['Id'].apply(lambda x: x + 1461)
predictions_rcv.rename(columns={0:'SalePrice'}, inplace=True)

In [0]:
predictions_rcv.head()

     Id      SalePrice
0  1461  123620.531296
1  1462  164458.097318
2  1463  186309.110748
3  1464  199008.975960
4  1465  221806.265482

In [0]:
predictions_rcv.tail()

        Id      SalePrice
1454  2915  141390.454663
1455  2916   84951.759268
1456  2917  156348.896985
1457  2918  157359.948539
1458  2919  245393.328536

In [0]:
predictions_rcv.to_csv('PredictionsRCV.csv')

# KERAS Sequential

**RMSLE = 0.21497**

In [0]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

In [0]:
X_train.keys()

Index(['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',
       ...
       'HeatingQC_Po', 'HeatingQC_TA', 'CentralAir_Y', 'PavedDrive_P',
       'PavedDrive_Y', 'SaleCondition_AdjLand', 'SaleCondition_Alloca',
       'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object', length=129)

In [0]:
def build_model():
  model = keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=[len(X_train.keys())]),
    layers.Dense(64, activation='relu'),
    layers.Dense(1)
  ])

  optimizer = tf.keras.optimizers.RMSprop(0.001)

  model.compile(loss='mse',
                optimizer=optimizer,
                metrics=['mae', 'mse'])
  return model

In [0]:
model = build_model()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [0]:
class PrintDot(keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs):
    if epoch % 100 == 0: print('')
    print('.', end='')

EPOCHS = 1000

history = model.fit(
  X_train, y_train,
  epochs=EPOCHS, validation_split = 0.2, verbose=0,
  callbacks=[PrintDot()])

....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................

In [0]:
predictions_keras = pd.DataFrame(model.predict(X_test).flatten())
predictions_keras['Id'] = predictions_keras.index
predictions_keras = predictions_keras[['Id', 0]]
predictions_keras['Id'] = predictions_keras['Id'].apply(lambda x: x + 1461)
predictions_keras.rename(columns={0:'SalePrice'}, inplace=True)

In [0]:
predictions_keras.head()

     Id      SalePrice
0  1461  135549.781250
1  1462  162388.734375
2  1463  185841.640625
3  1464  189639.796875
4  1465  197631.703125

In [0]:
predictions_keras.to_csv('PredictionsKeras.csv')